<?xml version="1.0" encoding="utf-8" ?>
<Config>
    <Source>https://calendar.yandex.ru/export/ics.xml?private_token=some_token&tz_id=your_place</Source>

    <Requests RequestsTriesCount="3" RequestDelay="5" />
    
    <Timers UpdateInterval="3600" ReminderInterval="60" />

    <MaxLogsCount>50</MaxLogsCount>

    <NotificationTimeOffsetsList>
        <TimeOffset Hours="0" Minutes="-15" Seconds="0" />
        <TimeOffset Hours="0" Minutes="-5" Seconds="0" />
        <TimeOffset Hours="0" Minutes="0" Seconds="0" />
    </NotificationTimeOffsetsList>
</Config>